*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: max-content;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $Very_dark_blue_main-background;
    font-family: 'Inter', sans-serif;
    // font-family: 'Lexend Deca', sans-serif;
}
.main{

    background: $Dark_desaturated_blue_card-background;
 
    width: 20.438rem;
    margin: 5.5rem 1.5rem;
    border-radius: 10px;
    overflow: hidden;
}
.img_header{
    background-image: linear-gradient(hsla(277, 64%, 61%,0.5)),url(./images/image-header-mobile.jpg);
    mix-blend-mode: hard-light;
    height: 15rem;
    width: 20.375rem ;
    background-position: center;
    background-size: cover;
}
.text_area{
    padding: 2.75rem 2rem;
    text-align: center;

    h1{
        font-size: 1.6rem;
        font-weight: $bold;
        color: $White_main_heading-stats;
    }
    span{
        color: $Soft_violet_accent;
    }
    .heading-text{
        font-size: 0.938rem;
        color: $Slightly_transparent_white_stat-headings;
        line-height: 1.5rem;
        padding-top: 1.438rem;
        padding-bottom: 3.125rem;
    }

    .rank{
        text-transform: uppercase;
        .ranking:nth-child(1) h2{
            text-transform: none;
        }
        .ranking:nth-child(3) p{
            padding-bottom: 0;
        }
        h2{
            color: $White_main_heading-stats;
            font-weight: $bold;
            padding-bottom: 0.5rem;;
            
        }
        p{
            color: $Slightly_transparent_white_stat-headings;
            font-size: 0.8rem;
            font-weight: $regular;
            letter-spacing: 0.09rem;
            padding-bottom: 2.25rem;
        }

    }
}

@media(min-width:1024px){
    html, body{
        height: 100vh;
    }
    .main{
        display: flex;
        flex-direction: row-reverse;
        width: 69.438rem;
        height: 27.813rem;
        
    }
    .img_header{
        background-image: linear-gradient(hsla(277, 64%, 61%,0.5)),url(./images/image-header-desktop.jpg);
    mix-blend-mode: hard-light;
        height: 100%;
        width: 100%;
        flex: 1.4;

    }
    .text_area{
        flex: 1;
        padding: 4.813rem 7rem 4.188rem 4.438rem;
        text-align: left;
        h1{
            font-size: 2.3rem;
        }
        .heading-text{
            padding: 2rem 1rem 4.5rem 0;
        }
        .rank{
            width: 21.75rem;
            display: flex;
            justify-content: space-between;
        }

    }
}